/**
 * {{APP_NAME_TITLE}}.
 * @module {{APP_NAME_SNAKE}}/client
 */

import { createLogger } from './logger.mjs';

const log = createLogger('{{APP_NAME_SNAKE}}');

export class {{APP_NAME_PASCAL}} {
  /**
   * @param {Object} options
   * @param {string} options.baseUrl - Base URL for the API
   */
  constructor(options) {
    this.baseUrl = options.baseUrl;
    this.log = log;
  }

  async get(path, params = {}) {
    this.log.info('GET request', { path });
    // Implementation
  }
}
