{
  "name": "{{APP_NAME}}",
  "$schema": "../../node_modules/nx/schemas/project-schema.json",
  "sourceRoot": "packages-mjs/{{APP_NAME}}/src",
  "projectType": "library",
  "tags": ["type:ui-component"]
}
